<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <img src="https://mer.vn/public/theme/imgs/shop/empty-cart.svg" width="300" height="300" class="img-fluid mb-4 mr-3">
                        <h3 style="color:#fb9372"><strong>Bạn chưa có thêm sản phẩm yêu thích</strong></h3>
                        <div style="height: 200px">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Tiếp tục mua sắm</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>