@{
    ViewData["Title"] = "EmptyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <!-- Bootstrap CSS & JS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Popup Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <p>Popup Content</p>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>

<!-- Open Modal Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open Modal
</button>  *@

<div class="container">
    <div class="row">

        <div class="col-md-12">


            <div>
                <div class="col-sm-12 empty-cart-cls text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/5278/5278580.png" width="300" height="300" class="img-fluid mb-4 mr-3">
                    <h3 style="color:#fb9372"><strong>Thành Thật xin lỗi vì sự bất tiện này</strong></h3>
                    <h4 style="color:#fb9372">Sản phẩm hiện không đủ số lượng bạn muốn mua :((</h4>
                    <div style="height: 200px">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Trở về trang chủ</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>